@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media only screen and (max-width: 450px) {
  .login-card {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    .register-link {
      font-size: small;
      text-align: center;
      padding-bottom: px;
    }
    .card {
      border: none;
    }
    .card-body {
      padding-top: 30px;
    }
    .btn {
      width: 100%;
      background-color: #5cdb95;
      border-color: #5cdb95;
      color: #05386b;
    }
    .form-control {
      padding: 10px 0px 10px 5px;
      border-color: #05386b;
      color: #05386b;
    }
    .form-control:focus {
      border: #5cdb95;
      box-shadow: 0 0 0 0.1rem #5cdb95;
    }
    .form-control::placeholder {
      color: #05386b;
    }
  }

  .login-title {
    text-align: center;
    margin-top: 50%;
    isolation: isolate;
  }

  .profile-page-user {
    .card {
      padding: 10px 5px 10px 5px;
      border-color: white;
    }
    .profileDiv {
      display: flex;
      justify-content: space-between;
    }
    .edit-button {
      border-color: #8ee4af;
      color: #05386b;
      background-color: #8ee4af;
      height: 30px;
      font-size: 15px;
      padding: 5px 5px 5px 5px;
      line-height: 1px;
    }
    .edit-button:hover {
      background-color: #05386b;
      color: #8ee4af;
      border-color: #05386b;
    }
    .list-group-item {
      border-color: white;
    }
    .qr-button {
      width: 100%;
      background-color: #5cdb95;
      color: #05386b;
      border-color: #5cdb95;
    }
    .qr-button:hover {
      background-color: #05386b;
      color: #5cdb95;
      border-color: #05386b;
    }
    .edit-field {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .input-field {
        width: 90%;
        border-style: solid;
        border-width: 0.5px;
        border-color: #05386b;
        border-radius: 0.25rem;
      }
      .btn {
        border-color: #05386b;
        background-color: #05386b;
        color: #5cdb95;
        margin-left: 5px;
        height: 30px;
        font-size: 15px;
        padding: 5px 5px 5px 5px;
        line-height: 1px;
      }
    }
    .card-img-top {
      max-height: 200px;
      max-width: 200px;
      border-radius: 10px;
      border: 2px solid #05386b;
      display: flex;
      justify-content: center;
    }


    .delete-btn {
      margin-top: 20px;
      height: 30px;
      font-size: 12px;
      padding: 5px 5px 5px 5px;
      line-height: 1px;
    }
    .stripe-btn {
      margin-top: 20px;
      height: 30px;
      font-size: 12px;
      color: #8ee4af;
      border-color: #8ee4af;
      text-align: center;
    }
    .stripe-btn:hover {
      border-color: #05386b;
      color: #05386b;
      background-color: white;
    }
    .deleteField {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      margin-top: 20px;
      font-size: 12px;
    }
    .confirmDelete {
      display: flex;
      justify-content: space-around;
    }
    .confirmDelete-btn {
      height: 30px;
      font-size: 12px;
      padding: 5px 5px 5px 5px;
      line-height: 1px;
    }
    .cancelDelete-btn {
      height: 30px;
      font-size: 12px;
      padding: 5px 5px 5px 5px;
      line-height: 1px;
      color: #05386b;
      background-color: #5cdb95;
      border-color: #5cdb95;
    }
    .cancelDelete-btn:hover {
      color: #5cdb95;
      background-color: #05386b;
      border-color: #05386b;
    }
  }

  .profilepage {
    display: inline block;
    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .logoutbtn:active {
      background-color: white;
      color: yellow;
    }
    .username {
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: left;
    }
  }

  .qr-page {
    text-align: center;
    .profile-pic {
      max-height: 150px;
      max-width: 150px;
      border-radius: 10px;
      border: 2px solid #05386b;
    }
    .qr-code {
      display: flex;
      justify-content: center;
      width: 90%;
      height: 90%;
    }
    .qr-container {
      background-color: white;
      border: 2px solid #05386b;
      padding: 10px 0 10px 0;
      border-radius: 5%;
      width: 70%;
      margin: 15% auto;
    }
  }

  .checkout-profile {
    text-align: center;
    .checkout-profile-pic {
      width: 30%;
      height: 30%;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }

  .logoutbtn {
    height: 30px;
  }

  .tipper {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
    isolation: isolate;
    margin-bottom: 20px;
    .logout-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 6px;
    }
    .logoutbtn {
      isolation: isolate;
      background-color: #05386b;
      border-color: #05386b;
      color: white;
    }
  }
  .registration-page {
    padding-bottom: 10%;
    .register-title {
      margin-top: 5%;
      color: #05386b;
    }
    .register-card {
      display: flex;
      justify-content: center;
      margin-top: 5%;
      margin-bottom: 30%;
      .register-link {
        font-size: small;
        text-align: center;
        padding-bottom: px;
      }
      .card {
        border: none;
      }
      .card-body {
        padding-top: 30px;
      }

      .input-field {
        padding: 10px 0px 10px 5px;
        color: #05386b;
        border-color: rgb(5, 56, 107, 0.7);
        border-radius: 0.25rem;
      }
      .form-control {
        color: rgb(5, 56, 107, 0.7);
      }

      .form-control:focus {
        border: #5cdb95;
        box-shadow: 0 0 0 0.1rem #5cdb95;
      }
      .form-control::placeholder {
        color: rgb(5, 56, 107, 0.7);
      }

      .upload-image-form {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .bio-input {
        border-color: rgb(5, 56, 107, 0.7);
      }
      .select-img {
        border-color: rgb(5, 56, 107, 0.7);
      }
      .select-img::placeholder {
        color: rgb(5, 56, 107, 0.7);
      }
      .submit-btn {
        width: 100%;
        background-color: #5cdb95;
        border-color: #5cdb95;
        color: #05386b;
      }
      .submit-btn:hover {
        background-color: #05386b;
        color: #5cdb95;
        border-color: #05386b;
      }
      #cancelUpload {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .uploaded-img {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
    .return-login {
      border-color: #05386b;
      background-color: #05386b;
      color: #5cdb95;
    }
  }
  * {
    color: #05386b;
    font-family: "Poppins";
  }

  a {
    color: #05386b;
  }

  .stripe-page {
    display: flex;
    justify-content: center;
    isolation: isolation;
    z-index: auto;
    width: 100%;
   }

   .loading-container {
    text-align: center;
    margin-top: 60%;
    font-weight: bold;
    font-size: larger;
   }

   .error-display {
    text-align: center;
    margin-top: 60%;
    font-weight: bold;
    font-size: larger;
   }

   .success-container {
    text-align: center;
    background-color: white;
    border: 2px solid #05386b;
    border-radius: 5%;
    width: 80%;
    margin: 35% auto;
    padding: 10px;   
    .success-img {
      width: 30%;
      height: 30%;
      padding-top: 15px
    }
    .success-msg {
      margin: 15% auto;
    }
   }

}
