@media only screen and (max-width: 450px) {
  .login-card {
    display: flex;
    justify-content: center;
  }

  .profilepage {
    display: inline-block;
    margin-left: 20px;
    width: 90%;
    .logoutbtn {
      background-color: blue;
      border: solid 1px yellow;
      color: white;
      font-size: 16px;
      margin: 20px;
    }
    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: green;
    }
    .logoutbtn:active {
      background-color: white;
      color: yellow;
    }
    .username {
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: left;
    }
  }

  body {
    background-color: gray;
  }
}
