@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: #05386b;
  font-family: "Poppins";
}

a {
  color: #05386b;
}

.messageCard {
  width: 90%;
  margin: 5%;
}
.messageCard .messageButton {
  display: flex;
  justify-content: flex-end;
}
.messageCard .messageButton button {
  width: 30%;
}
.messageCard .closeMessagesDiv {
  display: flex;
  justify-content: flex-end;
}
.messageCard .closeMessages {
  width: 30%;
  border-color: #05386b;
  background-color: #05386b;
  color: #5cdb95;
}
.messageCard .card {
  width: 100% !important;
}

@media only screen and (max-width: 450px) {
  .login-card {
    display: flex;
    justify-content: center;
  }
  .login-card .register-link {
    font-size: small;
    text-align: center;
    padding-bottom: 5px;
  }
  .login-card .register-link a {
    color: #05386b;
  }
  .login-card .register-link a:hover {
    color: #5cdb95;
  }
  .login-card .card {
    border: none;
  }
  .login-card .card-body {
    padding-top: 30px;
  }
  .login-card .btn {
    width: 100%;
    background-color: #5cdb95;
    border-color: #5cdb95;
    color: #05386b;
  }
  .login-card .btn:hover {
    background-color: #05386b;
    border-color: #05386b;
    color: #5cdb95;
  }
  .login-card .form-control {
    padding: 10px 0px 10px 5px;
    border-color: #05386b;
    color: #05386b;
  }
  .login-card .form-control:focus {
    border: #5cdb95;
    box-shadow: 0 0 0 0.1rem #5cdb95;
  }
  .login-card .form-control::placeholder {
    color: #05386b;
  }
  .login-title {
    text-align: center;
    margin-top: 40%;
    isolation: isolate;
  }
  .profile-page-user .card {
    padding: 10px 5px 10px 5px;
    border-color: white;
  }
  .profile-page-user .profileDiv {
    display: flex;
    justify-content: space-between;
  }
  .profile-page-user .edit-button {
    border-color: #8ee4af;
    color: #05386b;
    background-color: #8ee4af;
    height: 30px;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    line-height: 1px;
  }
  .profile-page-user .edit-button:hover {
    background-color: #05386b;
    color: #8ee4af;
    border-color: #05386b;
  }
  .profile-page-user .list-group-item {
    border-color: white;
  }
  .profile-page-user .qr-button {
    width: 100%;
    background-color: #5cdb95;
    color: #05386b;
    border-color: #5cdb95;
  }
  .profile-page-user .qr-button:hover {
    background-color: #05386b;
    color: #5cdb95;
    border-color: #05386b;
  }
  .profile-page-user .edit-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .profile-page-user .edit-field .input-field {
    width: 90%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #05386b;
    border-radius: 0.25rem;
  }
  .profile-page-user .edit-field .btn {
    border-color: #05386b;
    background-color: #05386b;
    color: #5cdb95;
    margin-left: 5px;
    height: 30px;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    line-height: 1px;
  }
  .profile-page-user .card-img-top {
    max-height: 200px;
    max-width: 200px;
    border-radius: 10px;
    border: 2px solid #05386b;
    display: flex;
    justify-content: center;
    margin: 8px 0 0 12px;
  }
  .profile-page-user .edit-img-button {
    border: none;
    background-color: inherit;
    padding: 0px;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
  }
  .profile-page-user .edit-img-button:hover {
    background: #eee;
  }
  .profile-page-user .delete-btn {
    margin-top: 20px;
    height: 30px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    line-height: 1px;
  }
  .profile-page-user .stripe-btn {
    margin-top: 20px;
    height: 30px;
    font-size: 12px;
    color: #8ee4af;
    border-color: #8ee4af;
    text-align: center;
  }
  .profile-page-user .stripe-btn:hover {
    border-color: #05386b;
    color: #05386b;
    background-color: white;
  }
  .profile-page-user .deleteField {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
  }
  .profile-page-user .confirmDelete {
    display: flex;
    justify-content: space-around;
  }
  .profile-page-user .confirmDelete-btn {
    height: 30px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    line-height: 1px;
  }
  .profile-page-user .cancelDelete-btn {
    height: 30px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    line-height: 1px;
    color: #05386b;
    background-color: #5cdb95;
    border-color: #5cdb95;
  }
  .profile-page-user .cancelDelete-btn:hover {
    color: #5cdb95;
    background-color: #05386b;
    border-color: #05386b;
  }
  .profilepage {
    display: inline block;
  }
  .profilepage div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .profilepage .logoutbtn:active {
    background-color: white;
    color: yellow;
  }
  .profilepage .username {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
  }
  .qr-page {
    text-align: center;
  }
  .qr-page .profile-pic {
    max-height: 150px;
    max-width: 150px;
    border-radius: 10px;
    border: 2px solid #05386b;
    background-color: white;
  }
  .qr-page .qr-code {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
  }
  .qr-page .qr-container {
    background-color: white;
    border: 2px solid #05386b;
    padding: 10px 0 10px 0;
    border-radius: 5%;
    width: 70%;
    margin: 15% auto;
  }
  .qr-page .qr-name {
    background-color: #5cdb95;
    display: inline-block;
  }
  .qr-page .logoutbtn {
    background-color: #05386b;
    border-color: #05386b;
    color: #5cdb95;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .qr-page .logoutbtn:hover {
    background-color: #5cdb95;
    color: #05386b;
  }
  .checkout-profile {
    text-align: center;
  }
  .checkout-profile .checkout-profile-pic {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
    border: 2px solid #05386b;
  }
  .logoutbtn {
    height: 30px;
    background-color: #05386b;
    border-color: #05386b;
    color: #5cdb95;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .showMessages {
    height: 30px;
    background-color: #05386b;
    border-color: #05386b;
    color: #5cdb95;
    position: absolute;
    top: 8px;
    right: 80px;
  }
  .showMessages:hover {
    background-color: #05386b;
    border-color: #05386b;
    color: #5cdb95;
  }
  .tipper {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
    isolation: isolate;
    margin-bottom: 20px;
  }
  .tipper .logout-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
  }
  .tipper .logoutbtn {
    isolation: isolate;
    background-color: #05386b;
    border-color: #05386b;
    color: white;
  }
  .registration-page {
    padding-bottom: 10%;
  }
  .registration-page .register-title {
    margin-top: 5%;
    color: #05386b;
    background-color: #5cdb95;
    max-width: 280px;
    display: block;
    margin: 0 auto;
  }
  .registration-page .return-login {
    background-color: #05386b;
    border-color: #05386b;
    color: #5cdb95;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .registration-page .return-login:hover {
    background-color: #5cdb95;
    color: #05386b;
  }
  .registration-page .register-card {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 30%;
  }
  .registration-page .register-card .register-link {
    font-size: small;
    text-align: center;
    padding-bottom: px;
  }
  .registration-page .register-card h6 {
    color: #05386b;
    text-align: center;
  }
  .registration-page .register-card p {
    font-size: 12px;
    margin-bottom: 0px;
    text-align: center;
  }
  .registration-page .register-card .card {
    border: none;
  }
  .registration-page .register-card .card-body {
    padding-top: 20px;
  }
  .registration-page .register-card .input-div {
    line-height: 0.8;
  }
  .registration-page .register-card .input-field {
    padding: 10px 0px 10px 5px;
    color: #05386b;
    border-color: rgba(5, 56, 107, 0.7);
    border-radius: 0.25rem;
  }
  .registration-page .register-card .form-control {
    color: rgba(5, 56, 107, 0.7);
  }
  .registration-page .register-card .form-control:focus {
    border: #5cdb95;
    box-shadow: 0 0 0 0.1rem #5cdb95;
  }
  .registration-page .register-card .form-control::placeholder {
    color: rgba(5, 56, 107, 0.7);
  }
  .registration-page .register-card .upload-image-form {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .registration-page .register-card .bio-input {
    border-color: rgba(5, 56, 107, 0.7);
  }
  .registration-page .register-card .select-img {
    border-color: rgba(5, 56, 107, 0.7);
  }
  .registration-page .register-card .select-img::placeholder {
    color: rgba(5, 56, 107, 0.7);
  }
  .registration-page .register-card .submit-btn {
    width: 100%;
    background-color: #5cdb95;
    border-color: #5cdb95;
    color: #05386b;
  }
  .registration-page .register-card .submit-btn:hover {
    background-color: #05386b;
    color: #5cdb95;
    border-color: #05386b;
  }
  .registration-page .register-card #cancelUpload {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .registration-page .register-card .uploaded-img {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .registration-page .form-control::placeholder {
    color: #05386b;
  }
  .registration-page .form-control::placeholder .return-login {
    border-color: #05386b;
    background-color: #05386b;
    color: #5cdb95;
  }
  .stripe-page {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .whitebox {
    background-color: #5cdb95;
    color: #5cdb95;
    position: absolute;
    top: 290px;
    left: 63px;
    width: 300px;
  }
  .loading-container {
    text-align: center;
    margin-top: 60%;
    font-weight: bold;
    font-size: larger;
  }
  .error-display {
    text-align: center;
    margin-top: 60%;
    font-weight: bold;
    font-size: larger;
  }
  .success-container {
    text-align: center;
    background-color: white;
    border: 2px solid #05386b;
    border-radius: 5%;
    width: 80%;
    margin: 35% auto;
    padding: 10px;
  }
  .success-container .success-img {
    width: 30%;
    height: 30%;
    padding-top: 15px;
  }
  .success-container .success-msg {
    margin: 15% auto;
  }
}
@media only screen and (min-width: 451px) {
  .login-card {
    display: flex;
    justify-content: center;
    margin: 2% auto 5% auto;
    width: 50%;
    text-align: center;
  }
  .login-card .register-link {
    font-size: small;
    text-align: left;
    margin: 0 0 4px 16px;
  }
  .login-card .card {
    border: none;
  }
  .login-card .card-body {
    padding-top: 16px;
  }
  .login-card .btn {
    width: 100%;
    background-color: #5cdb95;
    border-color: #5cdb95;
    color: #05386b;
  }
  .login-card .form-control {
    padding: 10px 0px 10px 5px;
    border-color: #05386b;
    color: #05386b;
  }
  .login-card .form-control:focus {
    border: #5cdb95;
    box-shadow: 0 0 0 0.1rem #5cdb95;
  }
  .login-card .form-control::placeholder {
    color: #05386b;
  }
  .login-title {
    text-align: center;
    margin-top: 2%;
    isolation: isolate;
  }
  * {
    color: #05386b;
    font-family: "Poppins";
  }
  .tipper {
    display: flex;
    justify-content: space-between;
    isolation: isolate;
    margin: 12px 0 0 12px;
  }
  .tipper .logout-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
  }
  .tipper .logoutbtn {
    isolation: isolate;
    background-color: #05386b;
    border-color: #05386b;
    color: white;
  }
  .register-card {
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
    padding: 8px 0 48px 0;
    width: 65%;
  }
  .register-card .card {
    border: none;
  }
  .register-card .card-body {
    padding: 16px;
  }
  .register-card .form-control {
    padding: 10px 0px 10px 5px;
    color: #05386b;
    border-color: #05386b;
    border-radius: 0.25rem;
    margin: 0 0 8px 0;
  }
  .register-card .form-control:focus {
    border: #5cdb95;
    box-shadow: 0 0 0 0.1rem #5cdb95;
  }
  .register-card .form-control::placeholder {
    color: #05386b;
  }
  .register-card .upload-image-form {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .register-card .bio-input {
    border-color: rgba(5, 56, 107, 0.7);
  }
  .register-card .select-img {
    border-color: rgba(5, 56, 107, 0.7);
  }
  .register-card .select-img::placeholder {
    color: rgba(5, 56, 107, 0.7);
  }
  .register-card .submit-btn {
    width: 100%;
    background-color: #5cdb95;
    border-color: #5cdb95;
    color: #05386b;
  }
  .register-card .submit-btn:hover {
    background-color: #05386b;
    color: #5cdb95;
    border-color: #05386b;
  }
  .register-card #cancelUpload {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .register-card .uploaded-img {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .register-title {
    color: #05386b;
  }
  .profile-page-user {
    width: 65%;
    margin: 0 auto 0 auto;
    padding-bottom: 48px;
  }
  .profile-page-user .card {
    padding: 10px 5px 10px 5px;
    border-color: white;
  }
  .profile-page-user .profileDiv {
    display: flex;
    justify-content: space-between;
  }
  .profile-page-user .edit-img-button {
    border: none;
    background-color: inherit;
    padding: 1px;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
  }
  .profile-page-user .edit-img-button:hover {
    background: #eee;
  }
  .profile-page-user .edit-button {
    border-color: #8ee4af;
    color: #05386b;
    background-color: #8ee4af;
    height: 30px;
    width: 72px;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    line-height: 1px;
  }
  .profile-page-user .edit-button:hover {
    background-color: #05386b;
    color: #8ee4af;
    border-color: #05386b;
  }
  .profile-page-user .list-group-item {
    border-color: white;
  }
  .profile-page-user .qr-button {
    width: 100%;
    background-color: #5cdb95;
    color: #05386b;
    border-color: #5cdb95;
  }
  .profile-page-user .qr-button:hover {
    background-color: #05386b;
    color: #5cdb95;
    border-color: #05386b;
  }
  .profile-page-user .edit-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .profile-page-user .edit-field .input-field {
    width: 90%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #05386b;
    border-radius: 0.25rem;
  }
  .profile-page-user .edit-field .btn {
    border-color: #05386b;
    background-color: #05386b;
    color: #5cdb95;
    margin-left: 5px;
    height: 30px;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    line-height: 1px;
  }
  .profile-page-user .card-img-top {
    max-height: 200px;
    max-width: 200px;
    border-radius: 10px;
    border: 2px solid #05386b;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 10px;
  }
  .profile-page-user .delete-btn {
    margin-top: 20px;
    height: 30px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    line-height: 1px;
    width: 132px;
  }
  .profile-page-user .stripe-btn {
    margin-top: 20px;
    height: 30px;
    font-size: 12px;
    color: #8ee4af;
    border-color: #8ee4af;
    text-align: center;
  }
  .profile-page-user .stripe-btn:hover {
    border-color: #05386b;
    color: #05386b;
    background-color: white;
  }
  .profile-page-user .deleteField {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
  }
  .profile-page-user .confirmDelete {
    display: flex;
    justify-content: space-around;
  }
  .profile-page-user .confirmDelete-btn {
    height: 30px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    line-height: 1px;
    width: 72px;
  }
  .profile-page-user .cancelDelete-btn {
    height: 30px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    line-height: 1px;
    color: #05386b;
    background-color: #5cdb95;
    border-color: #5cdb95;
    width: 72px;
  }
  .profile-page-user .cancelDelete-btn:hover {
    color: #5cdb95;
    background-color: #05386b;
    border-color: #05386b;
  }
  .profile-page-user .uploaded-img {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 16px 0 16px 0;
  }
  .checkout-profile {
    text-align: center;
    position: absolute;
    left: 10%;
  }
  .checkout-profile .checkout-profile-pic {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    margin-top: 15%;
    margin-bottom: 5%;
    background-color: white;
    padding: 5px;
    border: 2px solid #05386b;
  }
  .stripe-page {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 50%;
  }
  .loading-container {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 10% auto;
  }
  .error-display {
    text-align: center;
    margin-top: 60%;
    font-weight: bold;
    font-size: larger;
  }
  .success-container {
    text-align: center;
    background-color: white;
    border: 2px solid #05386b;
    border-radius: 5%;
    width: 80%;
    margin: 35% auto;
    padding: 10px;
  }
  .success-container .success-img {
    width: 30%;
    height: 30%;
    padding-top: 15px;
  }
  .success-container .success-msg {
    margin: 15% auto;
  }
  .qr-page {
    text-align: center;
  }
  .qr-page .profile-pic {
    width: 25%;
    border-radius: 10px;
    border: 2px solid #05386b;
    background-color: white;
    position: absolute;
    right: 60%;
    margin: 8% auto;
  }
  .qr-page .qr-code {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 90%;
  }
  .qr-page .qr-container {
    position: absolute;
    left: 55%;
    background-color: white;
    border: 2px solid #05386b;
    padding: 10px 0 10px 0;
    border-radius: 5%;
    width: 25%;
    margin: 8% auto;
  }
  .qr-page .qr-name {
    position: absolute;
    right: 67%;
  }
  .qr-page .logoutbtn {
    background-color: #05386b;
    border-color: #05386b;
    color: #5cdb95;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 100px;
    height: 50px;
  }
  .qr-page .logoutbtn:hover {
    background-color: #5cdb95;
    color: #05386b;
  }
}

/*# sourceMappingURL=output.css.map */
